* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 85%;
  background: #333;
  color: white;
  margin: 20px auto 10px auto;
  text-align: center;
  padding: 15px;
}
main {
  width: 85%;
  margin: 10px auto;
  text-align: center;
}
input[type="text"] {
  padding: 10px;
}
input[type="button"] {
  padding: 10px;
  background: yellow;
}
#container {
  margin-top: 20px;
  font-size: 1.5em;
}
